body {
    background: black;
    color: white;
 }
 .button {
   font: bold 50px "Trebuchet MS";
   text-decoration: none;
   background-color: #EEEEEE;
   color: #333333;
   padding: 50px 100px 50px 100px;
   border-top: 5px solid #CCCCCC;
   border-right: 5px solid #333333;
   border-bottom: 5px solid #333333;
   border-left: 5px solid #CCCCCC;
 }
 #start{
  position: absolute;
  top: 20%;
  left: 35%;
 }
 #stop{
  position: absolute;
  top: 50%;
  left: 35%;
 }